@model HomePageViewModel

<section class="wrap page-link">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xl-1">
            </div>
            <div class="col-sm-12 col-xl-10">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-sm-6 col-lg-4">
                            <div class="nav-link">
                                <div>
                                    <p>@product.Name</p>
                                    <p><img src="@Url.ContentUrl(product.Image)" /></p>
                                    <p>@product.Price</p>
                                </div>
                            </div>
                            <div>
                                

                                @*<input type="button"
                                       value="Buy Now"
                                *@       onclick="location.href='@Url.Action("BuyNow", "HomePage")'" />

                                @using (Html.BeginForm("BuyNow", "HomePage", FormMethod.Post))
                                {
                                    <!-- form goes here -->

                                    <input type="submit" value="Buy Now" />
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-12 col-xl-1">
            </div>
        </div>
    </div>
</section>

