@model HomePage

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @Model.Products.FirstOrDefault()?.GetType()
        </div>
    </div>
</div>

