<!-- Navigation -->
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="@string.Format("/{0}", @ContentLanguage.PreferredCulture)">
                        <h5>[Home]</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

