<!DOCTYPE html>

<html>

<partial name="~/Views/Shared/_Header.cshtml" />

<body>

    @RenderBody()

    <partial name="~/Views/Shared/_NavBar.cshtml" />

    <partial name="~/Views/Shared/_Footer.cshtml" />

    <partial name="~/Views/Shared/_Scripts.cshtml" />

</body>

</html>
